* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./webbg.jpg");
    background-repeat: repeat;
    background-size: cover;
    color: #ebf9fa;
    margin-top: 100px;
}
.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 36px;
    color: white;
    display: flex;
    gap: 10px;
    font-size: larger;
}

.container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container ul li {
    list-style: none;
    display: inline-block;
    margin-right: 18px;
}

.elems ul li a {
    color: aqua;
    text-decoration: none;
    cursor: pointer;
}

.elems ul li a:hover {
    color: white;
    text-decoration: underline;
}

.text {
    /* border: 2px solid red; */
    height: 70px;
    width: 780px;
    padding: 50px;
    transform: translate(40px, 90px);
    font-size: 43px;
    display: flex;
    justify-content: center;
}

span {
    color: white;
    margin-left: 11px;
    cursor: default;
}

.subnav {
    /* border: 2px solid white; */
    padding: 20px;
    position: fixed;
}

.subnav ul li {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: larger;
}

.subnav ul li a {
    color: white;
    text-decoration: none;
}
.subnav ul li :hover {
    cursor: pointer;
}

.subnav ul li a:hover,
.subnav ul li i:hover {
    cursor: pointer;
    color: aqua;
}

.subnav ul li i {
    font-size: 1.5em;
    transition: color 0.3s;
}

.btns {
    /* border: 2px solid white; */
    padding: 29px;
    transform: translate(190px, 200px);
    width: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gstrd {
    color: white;
    background-color: #2e022b;
    padding: 25px;
    border-radius: 37px;
    border: 1px solid aquamarine;
    cursor: pointer;
    font-size: large;
}

.gstrd:hover {
    background-color: #42013d;
}

.foot {
    border: 2px solid black;
    transform: translate(0px, 470px);
    color: red;
    background-color: #1a0101;
    padding: 120px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
