* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./webbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #ebf9fa;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 36px;
    color: white;
    display: flex;
    gap: 10px;
    font-size: larger;
}

.container ul li {
    list-style: none;
    display: inline-block;
    margin-right: 18px;
}

.elems ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.elems ul li {
    display: inline-block;
    cursor: pointer;
}

.elems ul li:hover {
    text-decoration: underline;
    color: aqua;
}

.text {
    /* border: 2px solid white; */
    width: 560px;
    height: 300px;
    transform: translate(54px, 150px);
    font-size: 45px;
    cursor: default;
    color: white;
}
