* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./webbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: red;
}

.container {
    padding: 26px;
    /* background-color: #262605; */
    color: white;
    gap: 10px;
    align-items: center;
}

.container ul li {
    list-style: none;
    display: inline-block;
    margin-right: 18px;
}

.elems ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.elems ul li {
    display: inline-block;
    cursor: pointer;
}

.elems ul li:hover {
    text-decoration: underline;
    color: aqua;
}

.typing {
    border: 2px solid black;
    width: 550px;
    height: 250px;
    /* transform: translate(20px, 100px); */
    margin-top: 50px;
    margin-left: 25px;
}
